.saved-project-container {
  margin-bottom: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    margin-top: .4vw;
    font-size: 1.8vw;
  }
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

.saved-project-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  width: 17vw;
  border-radius: 200px 5px 200px 5px/5px 255px 5px 215px;
  box-shadow: 5px 5px;
  button {
    border: none;
    font-size: 1.8vw;
  }
  h3 {
    font-size: 1.8vw;
    font-weight: bold;
    margin: 0;
  }
}
